@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
header {
height: 70px;
background: #313D52;
color: #fff;
display: flex;
justify-content: end;
}
#btn-menu {
display: none;
}
header label {
font-size: 30px;
cursor: pointer;
display: none;
}
.menu ul {
display: flex;
list-style: none;
}
.menu a {
display: block;
padding: 15px 20px;
color: #fff;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
}
.menu a:hover {
background: rgba(0,0,0,0.8);
height: 70px;
}
body {
background: #0a1a2a;
}
h1 {
text-align: center;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
color: #fff;
margin-top: 30px;
margin-bottom: 30px;
}
.card {
width: 23%;
margin: 1%;
border-radius: 6px;
overflow: hidden;
background:#fff;
box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
transition: all 400ms ease-out;
cursor: default;
float: left;
padding: 10px;
}
.card:hover{
box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
transform: translateY(-3%);
}
.card img{
width: 100%;
height: 210px;
}
.card .contenido-card{
padding: 15px;
text-align: center;
}
.card .contenido-card h3{
margin-bottom: 15px;
color: #7a7a7a;
}
.card .contenido-card a{
display: inline-block;
padding: 10px;
margin-top: 10px;
text-decoration: none;
color: #2fb4cc;
border: 1px solid #2fb4cc;
border-radius: 4px;
transition: all 400ms ease;
margin-bottom: 5px;
}
.card .contenido-card a:hover{
background: #2fb4cc;
color: #fff;
}
footer {
background: #000;
margin-top: 900px;
}
.col {
column-count: 4;
padding: 10px 10px;
}
.col h5 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-bottom: 20px;
color: #fff;
font-size: 20px;
}
ul {
list-style: none;
}
a {
text-decoration: none;
line-height: 30px;
font-family: 'Poppins', sans-serif;
transition: all 0.5s ease;
color: #fff;
font-size: 15px;
}
.social a{
background: #333;
font-size: 20px;
padding: 10px 10px;
color: #fff;
margin-right: 10px;
}
.social a:hover {
color: blue;
background: white;
}
ul li a:hover{
color: #bbb;
}
@media only screen and (min-width:320px) and (max-width:768px){
.cards-banner-one .content {
width: 80%;
}
header {
align-items: center;
}
header label {
display: block;
margin-right: 10px;
}
.menu {
position: absolute;
top: 70px;
left: 0;
width: 80%;
transform: translateX(-100%);
transition: all 0.5s;
}
.menu ul {
display: block;
background: #555;
}
.menu ul li:hover ul {
display: none;
position: static;
}
#btn-menu:checked~ .menu {
transform: translateX(0%);
}
.card {
width: 48%;
margin: 1%;
}
.card:hover {
transform: translateY(0%);
}
.card .contenido-card a:hover{
background: #fff;
color: #2fb4cc;
}
.col {
column-count: 1;
}
footer {
margin-top: 1560px;
}
.card .contenido-card h3{
font-size: 10px;
}
}
   